################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/build/asset-manifest.json
/build/index.html
/build/*.js
/build/static