@font-face {
  font-family: 'Don Aquarel';
  src: url('./assets/fonts/DonAquarel.eot');
  src: url('./assets/fonts/DonAquarel.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/DonAquarel.woff') format('woff'),
  url('./assets/fonts/DonAquarel.ttf') format('truetype'),
  url('./assets/fonts/DonAquarel.svg#DonAquarel') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'And Then It Ends';
  src: url('assets/fonts/subset-AndThenItEnds.eot');
  src: url('assets/fonts/subset-AndThenItEnds.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/subset-AndThenItEnds.woff') format('woff'),
  url('assets/fonts/subset-AndThenItEnds.ttf') format('truetype'),
  url('assets/fonts/subset-AndThenItEnds.svg#AndThenItEnds') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AIRBORNE GP';
  src: url('assets/fonts/subset-AIRBORNEGP.eot');
  src: url('assets/fonts/subset-AIRBORNEGP.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/subset-AIRBORNEGP.woff') format('woff'),
  url('assets/fonts/subset-AIRBORNEGP.ttf') format('truetype'),
  url('assets/fonts/subset-AIRBORNEGP.svg#AIRBORNEGP') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neptune Trial';
  src: url('assets/fonts/subset-NeptuneTrial-Bold.eot');
  src: url('assets/fonts/subset-NeptuneTrial-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/subset-NeptuneTrial-Bold.woff') format('woff'),
  url('assets/fonts/subset-NeptuneTrial-Bold.ttf') format('truetype'),
  url('assets/fonts/subset-NeptuneTrial-Bold.svg#NeptuneTrial-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
